@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Playpen+Sans:wght@100..800&display=swap');

$TitleFont: "Luckiest Guy", cursive;
$ParagFont: "Playpen Sans", cursive;

$azulgelo: #ACD4EB;
$azulceu: #B0CCF4;
$roxo: #e6eeff;